{
  "presets": [
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "babel-plugin-syntax-jsx",
    ["babel-plugin-inferno", {"imports": true}],
    "transform-decorators-legacy",
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    ]
  ]
}
