$interline: .3em;
$add_more_color: #002bc1;

body {
  font-size: 15px;
  background-color: #000;
  color: #FFF;
}

label {
  padding-top: $interline/2;
  padding-bottom: $interline;
}

/**
 * Custom button
 */
.add-more {
  width: 100%;
  margin-top: $interline;
  background-color: $add_more_color;
  border-color: $add_more_color;
  color: #FFF;
}

#app {
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
}

.result {
  display: block;
  text-align: right;
  font-size: 1.5em;
}

.alcohols {
  padding-bottom: $interline;
}

.gender label,
.gender select,
.weight label,
.weight input {
  display: block;
  width: 100%;
}

